
body {
    background-image: url(http://img.pility.com/images255/uj44bekh5t0.jpg);   
    background-position: right top;
    background-attachment: fixed;
    background-size: cover;
    }

nav {
    width: 100%;
    height: 50px;
    background: linear-gradient(to bottom, #f2f6f8 0%,#d8e1e7 30%,#b5c6d0 54%,#e0eff9 100%); 
    border-radius: 5px;
    margin-top: 10px; 
}



nav div a {
    
    display: inline;
    margin: 10px;
    text-decoration: none;
    color: #6389C6;
}



/* Визначає стиль елементу при наведенні на нього */   
a:hover {             
	font-weight: bold;      /* Встановлює насиченіть шрифту */   
    background: #90FAD9;
    color: #FFFFFF;
    }


header div form {
    display: inline;
}

#upnavbar {
    padding-top: 15px;
    margin-left: 20px; 
    width: 100%;
}



 


#HeaderBanner {
    margin-top: ;
    width: 100%;
    
}


article {
    margin-top: 10px;
    background-color: #DCDCDC;
    width: 100%;
    height: 2300px;
    
}



.s1 {
    border-radius: 5px;
    width: 70px;
    height: 40px;
    background-color: #1F85E4;
     
}





#upnlogins li  {
list-style: none;
display: inline-block;
margin: 10px;
float: right;
}

#upnlogins li p {
text-align: center;
color: #FFFFFF;
margin-top: -8px;    

}



#HmWk {
    border-radius: 5px;
    width: 90px;
    height: 40px;
    background-color: #D8F078;
    text-align: center;
    
     
    
}



iframe {
    margin-left: 40px;
    
}

audio {
    margin-left: 40px;
    
}


table {
    margin-left: 40px;
    
}



.RegForm {
    margin-left: 40px;
    width: 700px;
    height: 800px;
    background-color: azure;
    
}

.namefield1 {
    margin-left: 40px;
    width: 500px;
    height: 500px;
    background-color: antiquewhite;
    
}


#signup {
   
    margin-top: 110px;
    width: 500px;
    height: 200px;
    background-color: antiquewhite;
    
    
}


