* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h2 {
    font-family: arial, sans-serif;
    
}

p {
    font-family: arial, sans-serif;
}

body {
    background-image: url(http://img.pility.com/images255/uj44bekh5t0.jpg);   
    background-position: right top;
    background-attachment: fixed;
    background-size: cover;
    color: yellow;
  
    }

nav {
    width: 100%;
    height: 50px;
    background: linear-gradient(to bottom, #f2f6f8 0%,#d8e1e7 30%,#b5c6d0 54%,#e0eff9 100%); 
    border-radius: 5px;
    margin-top: 10px; 
    
}

#content1 {
    
    width: 800px;
    height: 500px;
    background-color: #CFCFCF;
}

#content1 img {
    margin-left: 10px;
    
}
#content1 h1 {
    margin-left: 200px;
    
}

nav div a {
    
    display: inline;
    margin: 10px;
    text-decoration: none;
    color: #6389C6;
    
}



/* Визначає стиль елементу при наведенні на нього */   
a:hover {             
	font-weight: bold;      /* Встановлює насиченіть шрифту */   
    background: #90FAD9;
    color: #FFFFFF;
    }


header div form {
    display: inline;
}

#upnavbar {
    padding-top: 15px;
    margin-left: 20px; 
    width: 100%;
}


.s1 a p {
    position:absolute;
    top: 37px;
    margin-left: 10px; 
    

}
 


#HeaderBanner {
    margin-top: ;
    width: 100%;
    
}


article {
    margin-top: 10px;
    width: 100%;
    height: 700px;
    
    background-color: #D9D9D9;
    
}



.s1 {
    border-radius: 5px;
    width: 70px;
    height: 30px;
    background: radial-gradient(ellipse at center, #c0a5e5 30%,#7c8cd3 100%);
    
     
}





#upnlogins li  {
list-style: none;
display: inline-block;
margin: 10px;
float: right;
    
}

#upnlogins li p {
text-align: center;
color: #FFFFFF;
margin-top: -8px;    

}



#HmWk {
    border-radius: 5px;
    width: 90px;
    height: 40px;
    background: radial-gradient(ellipse at center, #c0a5e5 30%,#7c8cd3 100%);
    text-align: center;
    
}


/* Neon header */
#HeaderBanner h2 {
     color: #6389C6;
     position:absolute;
     left: 440px;
     top: 180px;
     font-size: 40px;
     font-family: arial, sans-serif; 
     color: #D0F8FF;
     text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
     0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
     0 0 40px #A5F1FF;
     
}
 
 
#content1 {
    margin-left: 500px;
    background-color: #DFFAE3;
    
}




.article {
    
  display: inline-block;
  width: 166px;
  margin-right: 20px;
  margin-top: 50px;
  
}

.art-title {
  margin-top: 10px;
  margin-bottom: 10px;
}


section {
    margin-left: 300px;
    padding-top: -200px;
    
    
}

#leftsection {
   
    height: 600px;
    width: 100px;
    margin-left: -290px;
    float: left;
    
}

     /* left navbar */
     
.leftbuttons {
	height: 700px;
	width: 150px;
	float: left;
	margin: 10px;
	margin-left: 30px;
	
}

.navbara1 {                                  
    border: 5px;
    border-radius: 5px;        
    width: 130px;
    height: 30px; 
    background-color: cornflowerblue;  
    text-align: center; 
    margin-left: -30px;
    box-shadow: 5px 5px 5px #888888;
    
    background: #b5bdc8;
    background: linear-gradient(to top, #c5deea 0%, #8abbd7 31%, #066dab 100%); 
    
    }
    
.lefinsidep  {
    font-family: cursive,serif;
    color: white;
    font-size: 12px;   
    margin: 10px;
   
    }
    
 .leftbuttons ul li {
    list-style-type: none;
    
     
 }   

.leftbuttons ul li a {
     text-decoration: none;
    
    
}   
    
     /* left navbar */
     
.headerofarticles {
    margin-top: 10px;
    margin-left: 250px;
     
}     