* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
 

.bannerheader h2 {
    margin-left: 12%;
    margin-top: 2%;
    font-family: oblique,arial, sans-serif;
    
}

#aboutme {
    margin-top: -10%;
    margin-left: 43%;
    width: 200px;
    height: 40px;
    background-color: #09D4FC;
    border-radius: 5px;
   
}

#aboutme2 {
    margin-top: 30px;
    margin-left: 43%;
    width: 200px;
    height: 40px;
    background-color: #09D4FC;
    border-radius: 5px;
    font-size: 12px;
   
}

#aboutme h1 {
 text-align: center;
 color: white;
}

#aboutme a {
     text-decoration: none;
}
   
   
#aboutme2 h1 {
 text-align: center;
 color: white;
}

#aboutme2 a {
     text-decoration: none;
}

 
p {
    font-family: arial, sans-serif;
}



nav {
    width: 100%;
    height: 50px;
    background: linear-gradient(to bottom, #f2f6f8 0%,#d8e1e7 30%,#b5c6d0 54%,#e0eff9 100%); 
    border-radius: 5px;
    margin-top: 10px; 
    margin-left: 10px;
    
}





nav div a {
    
    display: inline;
    margin: 10px;
    text-decoration: none;
    color: #6389C6;
    
}



/* Визначає стиль елементу при наведенні на нього */   
a:hover {             
	font-weight: bold;      /* Встановлює насиченіть шрифту */   
    background: #90FAD9;
    color: #FFFFFF;
    }


header div form {
    display: inline;
}

#upnavbar {
    padding-top: 10px;
    margin-left: 50px; 
    width: 100%;
}

#HeaderBanner {
    width: 100%;
    margin-left: 10px;
}

#HeaderBanner img {
      margin-top: -40px;
}

article {
    margin-top: 10px;
    width: 100%;
    

}

.s1 {
    border-radius: 5px;
    width: 70px;
    height: 30px;
    background: radial-gradient(ellipse at center, #c0a5e5 30%,#7c8cd3 100%);
    
}

#upnlogins li p {
text-align: center;
color: #FFFFFF;
margin-top: -8px;    
}



/* Neon header */
#HeaderBanner h2 {
     color: #6389C6;
     position:absolute;
     left: 440px;
     top: 180px;
     font-size: 40px;
     font-family: arial, sans-serif; 
     color: #D0F8FF;
     text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
     0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
     0 0 40px #A5F1FF;
     

    color: #D0F8FF;
    -webkit-animation: mymove 8s infinite; 
    animation: mymove 5s infinite;

}

 @keyframes mymove {
    50% {color: #F9FB6C}
}
 
#content1 {
    margin-left: 500px;
    background-color: #DFFAE3;
    
}




section {
     width: 50%;
     
    
    
}





.navbara1 {                                  
    border: 5px;
    border-radius: 5px;        
    width: 130px;
    height: 30px; 
    background-color: cornflowerblue;  
    text-align: center; 
    margin-left: -30px;
    box-shadow: 5px 5px 5px #888888;
    
    background: #b5bdc8;
    background: linear-gradient(to top, #c5deea 0%, #8abbd7 31%, #066dab 100%); 
    }
    
.container {

    width: 500px;
    height: 100px;
    float: right;
    margin-top: -15px;
    margin-right: -150px;
}

.container2 {
    margin-top: -180px;
    width: 100%;
    height: 400px;
    background: linear-gradient(to top, #c5deea 0%, #8abbd7 31%, #066dab 100%); 
    margin-left: 10px;
    color: white;
}

.cont2text {
    margin-left: 25%;
}


.container3 {
    width: 100%;
    height: 1000px;
    background: linear-gradient(to bottom, #f7fbfc 0%,#d9edf2 40%,#add9e4 100%);
    margin-top: 50px;
    margin-left: 10px;
    color: #F6DC96;
}

.container3 h2 {
   margin-left: 30%;
   
}


.button{  
    margin: 8px;  
     
}  

.button a{  
    font-family: arial, sans-serif;
    font-size: 13px;  
	color: #777;
	text-shadow: 1px 1px 0px white;
    background: #ffffff; /* Old browsers */  
    background: -moz-linear-gradient(top, #ffffff 0%, #dfdfdf 100%); /* FF3.6+ */  
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#dfdfdf)); /* Chrome,Safari4+ */  
    background: -webkit-linear-gradient(top, #ffffff 0%,#dfdfdf 100%); /* Chrome10+,Safari5.1+ */  
    background: -o-linear-gradient(top, #ffffff 0%,#dfdfdf 100%); /* Opera11.10+ */  
    background: -ms-linear-gradient(top, #ffffff 0%,#dfdfdf 100%); /* IE10+ */  
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dfdfdf',GradientType=0 ); /* IE6-9 */  
    background: linear-gradient(top, #ffffff 0%,#dfdfdf 100%); /* W3C */  
    -moz-border-radius: 3px;  
    -webkit-border-radius: 3px;  
    border-radius: 3px;  
    -moz-box-shadow: 0 1px 3px 0px rgba(0,0,0,0.4); 
    -webkit-box-shadow: 0 1px 3px 0px rgba(0,0,0,0.4); 
    box-shadow: 0 1px 3px 0px rgba(0,0,0,0.4);  
    padding: 6px 12px;  
}  

.button a:hover{  
    background: #ffffff; /* Old browsers */  
    background: -moz-linear-gradient(top, #ffffff 0%, #eee 100%); /* FF3.6+ */  
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eee)); /* Chrome,Safari4+ */  
    background: -webkit-linear-gradient(top, #ffffff 0%,#eee 100%); /* Chrome10+,Safari5.1+ */  
    background: -o-linear-gradient(top, #ffffff 0%,#eee 100%); /* Opera11.10+ */  
    background: -ms-linear-gradient(top, #ffffff 0%,#eee 100%); /* IE10+ */  
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eee',GradientType=0 ); /* IE6-9 */  
    background: linear-gradient(top, #ffffff 0%,#eee 100%); /* W3C */  
    -moz-box-shadow: 0 1px 3px 0px rgba(0,0,0,0.4); 
    -webkit-box-shadow: 0 1px 3px 0px rgba(0,0,0,0.4); 
    box-shadow: 0 1px 3px 0px rgba(0,0,0,0.4);  
}  

.button a:active{  
    background: #dfdfdf; /* Old browsers */  
    background: -moz-linear-gradient(top, #dfdfdf 0%, #f1f1f1 100%); /* FF3.6+ */  
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dfdfdf), color-stop(100%,#f1f1f1)); /* Chrome,Safari4+ */  
    background: -webkit-linear-gradient(top, #dfdfdf 0%,#f1f1f1 100%); /* Chrome10+,Safari5.1+ */  
    background: -o-linear-gradient(top, #dfdfdf 0%,#f1f1f1 100%); /* Opera11.10+ */  
    background: -ms-linear-gradient(top, #dfdfdf 0%,#f1f1f1 100%); /* IE10+ */  
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfdfdf', endColorstr='#f1f1f1',GradientType=0 ); /* IE6-9 */  
    background: linear-gradient(top, #dfdfdf 0%,#f1f1f1 100%); /* W3C */  

    -webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.2) inset, 0px 1px 1px 0 rgba(255,255,255,1);
    -moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.2) inset, 0px 1px 1px 0 rgba(255,255,255,1);  
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.2) inset, 0px 1px 1px 0 rgba(255,255,255,1);  
}

.button a > img{  
    padding-right: 8px;  
    position: relative;  
    top: 7px;  
}  

body, a:hover {
cursor: url(http://cur.cursors-4u.net/mechanics/mec-1/mec9.cur), progress !important;
}

 



/*  ====================  Animated Stars background ==================== */

#starsfield {
    width: 100%;
    height: 200px;
    
}




html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  
   
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 603px 1652px #FFF , 525px 89px #FFF , 1511px 683px #FFF , 1040px 1245px #FFF , 251px 1509px #FFF , 1784px 1280px #FFF , 1137px 1777px #FFF , 3px 16px #FFF , 1879px 1226px #FFF , 1439px 1938px #FFF , 563px 559px #FFF , 1455px 33px #FFF , 62px 1640px #FFF , 668px 1102px #FFF , 1353px 949px #FFF , 1023px 900px #FFF , 144px 1884px #FFF , 772px 682px #FFF , 312px 1246px #FFF , 1456px 1277px #FFF , 220px 816px #FFF , 373px 1466px #FFF , 745px 920px #FFF , 931px 1175px #FFF , 713px 507px #FFF , 369px 32px #FFF , 1084px 1854px #FFF , 1810px 1830px #FFF , 1088px 1037px #FFF , 1204px 949px #FFF , 1746px 1433px #FFF , 1454px 551px #FFF , 715px 794px #FFF , 1936px 803px #FFF , 843px 183px #FFF , 940px 114px #FFF , 592px 938px #FFF , 1711px 888px #FFF , 949px 1419px #FFF , 625px 150px #FFF , 159px 1448px #FFF , 1001px 561px #FFF , 1228px 1682px #FFF , 1047px 638px #FFF , 1928px 469px #FFF , 86px 1207px #FFF , 1987px 660px #FFF , 1100px 1722px #FFF , 1096px 1962px #FFF , 356px 1172px #FFF , 138px 1519px #FFF , 596px 654px #FFF , 395px 506px #FFF , 799px 1351px #FFF , 119px 430px #FFF , 1149px 168px #FFF , 1903px 672px #FFF , 419px 573px #FFF , 1782px 1977px #FFF , 290px 501px #FFF , 1212px 1674px #FFF , 565px 249px #FFF , 1276px 566px #FFF , 146px 223px #FFF , 716px 1917px #FFF , 1601px 1369px #FFF , 599px 827px #FFF , 1865px 160px #FFF , 1407px 808px #FFF , 1895px 1095px #FFF , 1032px 923px #FFF , 1829px 1933px #FFF , 1665px 1795px #FFF , 426px 1401px #FFF , 168px 1224px #FFF , 1146px 1776px #FFF , 648px 1092px #FFF , 349px 861px #FFF , 960px 1320px #FFF , 1580px 526px #FFF , 1488px 298px #FFF , 743px 1489px #FFF , 1015px 600px #FFF , 170px 1099px #FFF , 122px 1378px #FFF , 1483px 556px #FFF , 1604px 133px #FFF , 1655px 380px #FFF , 623px 818px #FFF , 144px 1295px #FFF , 1644px 1327px #FFF , 1985px 1470px #FFF , 338px 529px #FFF , 1666px 178px #FFF , 396px 293px #FFF , 1707px 850px #FFF , 215px 1609px #FFF , 685px 1406px #FFF , 16px 1287px #FFF , 215px 320px #FFF , 725px 512px #FFF , 1749px 512px #FFF , 224px 1495px #FFF , 78px 1131px #FFF , 1976px 1625px #FFF , 1164px 1457px #FFF , 1139px 1712px #FFF , 1709px 470px #FFF , 728px 1740px #FFF , 1620px 1762px #FFF , 267px 126px #FFF , 1723px 669px #FFF , 1968px 954px #FFF , 1272px 845px #FFF , 1988px 1308px #FFF , 551px 587px #FFF , 1298px 662px #FFF , 1343px 791px #FFF , 1286px 908px #FFF , 1156px 143px #FFF , 1537px 1738px #FFF , 147px 488px #FFF , 1149px 458px #FFF , 1356px 1259px #FFF , 1427px 93px #FFF , 58px 869px #FFF , 270px 1296px #FFF , 841px 1292px #FFF , 1912px 1700px #FFF , 211px 146px #FFF , 911px 818px #FFF , 232px 1632px #FFF , 917px 784px #FFF , 847px 1469px #FFF , 293px 701px #FFF , 1022px 213px #FFF , 99px 1109px #FFF , 471px 149px #FFF , 1035px 906px #FFF , 1686px 1303px #FFF , 879px 218px #FFF , 64px 596px #FFF , 1027px 957px #FFF , 676px 209px #FFF , 1475px 1264px #FFF , 321px 1203px #FFF , 257px 413px #FFF , 690px 362px #FFF , 808px 400px #FFF , 1084px 474px #FFF , 368px 1628px #FFF , 1332px 1941px #FFF , 808px 1639px #FFF , 1573px 1949px #FFF , 33px 225px #FFF , 1261px 1329px #FFF , 1951px 1458px #FFF , 1936px 729px #FFF , 132px 1507px #FFF , 268px 576px #FFF , 874px 842px #FFF , 998px 553px #FFF , 999px 527px #FFF , 636px 3px #FFF , 652px 1529px #FFF , 180px 1047px #FFF , 1004px 174px #FFF , 1496px 1305px #FFF , 729px 606px #FFF , 234px 460px #FFF , 1762px 152px #FFF , 1776px 800px #FFF , 966px 572px #FFF , 1869px 453px #FFF , 1991px 859px #FFF , 930px 1372px #FFF , 362px 586px #FFF , 500px 781px #FFF , 1900px 1497px #FFF , 1908px 856px #FFF , 1117px 265px #FFF , 1556px 1053px #FFF , 1621px 893px #FFF , 49px 1699px #FFF , 1386px 1310px #FFF , 885px 1081px #FFF , 1948px 251px #FFF , 129px 98px #FFF , 475px 1596px #FFF , 224px 1127px #FFF , 1898px 1486px #FFF , 250px 1428px #FFF , 1949px 8px #FFF , 835px 598px #FFF , 1920px 1569px #FFF , 946px 1440px #FFF , 637px 844px #FFF , 190px 1114px #FFF , 1064px 1353px #FFF , 1609px 519px #FFF , 539px 65px #FFF , 931px 4px #FFF , 794px 865px #FFF , 1401px 1709px #FFF , 1974px 1561px #FFF , 1093px 118px #FFF , 30px 906px #FFF , 442px 104px #FFF , 485px 591px #FFF , 1923px 532px #FFF , 280px 1929px #FFF , 1795px 1222px #FFF , 278px 964px #FFF , 181px 839px #FFF , 1886px 1469px #FFF , 1070px 839px #FFF , 1256px 778px #FFF , 1605px 1688px #FFF , 964px 408px #FFF , 1087px 1850px #FFF , 1862px 642px #FFF , 635px 1819px #FFF , 559px 284px #FFF , 1065px 1998px #FFF , 1827px 1396px #FFF , 163px 908px #FFF , 597px 1388px #FFF , 246px 829px #FFF , 1610px 975px #FFF , 465px 1306px #FFF , 1262px 1722px #FFF , 1821px 271px #FFF , 547px 1169px #FFF , 1373px 1119px #FFF , 565px 1191px #FFF , 717px 876px #FFF , 1594px 1306px #FFF , 1436px 1878px #FFF , 1804px 956px #FFF , 795px 1558px #FFF , 1529px 586px #FFF , 1299px 632px #FFF , 237px 571px #FFF , 1327px 97px #FFF , 1843px 1871px #FFF , 389px 433px #FFF , 228px 898px #FFF , 1349px 1857px #FFF , 1543px 1606px #FFF , 7px 1746px #FFF , 293px 753px #FFF , 1282px 874px #FFF , 1959px 1528px #FFF , 1519px 936px #FFF , 857px 765px #FFF , 1458px 279px #FFF , 1425px 1102px #FFF , 1068px 173px #FFF , 471px 1872px #FFF , 1900px 1253px #FFF , 1190px 111px #FFF , 1262px 652px #FFF , 771px 285px #FFF , 550px 182px #FFF , 639px 1503px #FFF , 1844px 108px #FFF , 23px 951px #FFF , 1523px 1922px #FFF , 989px 1467px #FFF , 596px 1588px #FFF , 315px 776px #FFF , 555px 1732px #FFF , 804px 304px #FFF , 1206px 171px #FFF , 193px 1411px #FFF , 191px 1624px #FFF , 494px 672px #FFF , 411px 939px #FFF , 350px 1661px #FFF , 1276px 944px #FFF , 1945px 1066px #FFF , 1830px 1415px #FFF , 309px 540px #FFF , 958px 99px #FFF , 777px 1144px #FFF , 786px 1311px #FFF , 1188px 949px #FFF , 876px 864px #FFF , 755px 722px #FFF , 1151px 1794px #FFF , 1351px 471px #FFF , 645px 1642px #FFF , 967px 1923px #FFF , 1014px 915px #FFF , 1949px 913px #FFF , 1105px 42px #FFF , 1148px 1602px #FFF , 1177px 384px #FFF , 613px 1395px #FFF , 1888px 651px #FFF , 1017px 935px #FFF , 798px 256px #FFF , 940px 1527px #FFF , 1508px 1024px #FFF , 725px 1923px #FFF , 94px 558px #FFF , 1254px 1824px #FFF , 489px 1915px #FFF , 664px 713px #FFF , 812px 968px #FFF , 578px 173px #FFF , 1596px 1917px #FFF , 634px 969px #FFF , 916px 1678px #FFF , 1814px 766px #FFF , 990px 771px #FFF , 1860px 1494px #FFF , 1023px 182px #FFF , 1882px 833px #FFF , 1197px 918px #FFF , 671px 149px #FFF , 577px 494px #FFF , 1974px 251px #FFF , 1376px 1643px #FFF , 1877px 1059px #FFF , 81px 1453px #FFF , 1504px 128px #FFF , 1556px 1005px #FFF , 832px 1658px #FFF , 181px 345px #FFF , 388px 552px #FFF , 1437px 835px #FFF , 1836px 1930px #FFF , 1100px 956px #FFF , 373px 1483px #FFF , 218px 1360px #FFF , 186px 1494px #FFF , 545px 584px #FFF , 427px 1438px #FFF , 445px 121px #FFF , 235px 771px #FFF , 1513px 1519px #FFF , 1810px 610px #FFF , 1139px 687px #FFF , 1482px 193px #FFF , 477px 1997px #FFF , 396px 343px #FFF , 146px 1432px #FFF , 599px 1636px #FFF , 477px 1707px #FFF , 24px 64px #FFF , 1641px 976px #FFF , 1425px 1990px #FFF , 40px 1709px #FFF , 517px 509px #FFF , 569px 765px #FFF , 1932px 750px #FFF , 722px 1512px #FFF , 1083px 951px #FFF , 898px 576px #FFF , 1932px 264px #FFF , 57px 1492px #FFF , 34px 278px #FFF , 1290px 1273px #FFF , 831px 1299px #FFF , 1478px 1104px #FFF , 1955px 1824px #FFF , 1817px 1136px #FFF , 883px 1983px #FFF , 653px 1154px #FFF , 1676px 902px #FFF , 1216px 1580px #FFF , 1336px 200px #FFF , 462px 1128px #FFF , 1855px 229px #FFF , 621px 1268px #FFF , 806px 1495px #FFF , 1142px 42px #FFF , 1394px 1391px #FFF , 1530px 1659px #FFF , 693px 738px #FFF , 762px 1157px #FFF , 64px 1813px #FFF , 1627px 625px #FFF , 476px 1455px #FFF , 426px 1253px #FFF , 151px 873px #FFF , 673px 1343px #FFF , 1924px 828px #FFF , 1036px 868px #FFF , 947px 953px #FFF , 408px 1902px #FFF , 1409px 583px #FFF , 1349px 195px #FFF , 450px 810px #FFF , 1909px 1078px #FFF , 682px 97px #FFF , 920px 1411px #FFF , 1225px 31px #FFF , 189px 1761px #FFF , 282px 292px #FFF , 704px 1296px #FFF , 519px 479px #FFF , 1328px 12px #FFF , 1831px 1759px #FFF , 10px 1404px #FFF , 963px 815px #FFF , 1142px 266px #FFF , 523px 1814px #FFF , 27px 990px #FFF , 140px 1754px #FFF , 324px 1072px #FFF , 1246px 551px #FFF , 122px 788px #FFF , 146px 1993px #FFF , 685px 893px #FFF , 1220px 570px #FFF , 780px 691px #FFF , 503px 1501px #FFF , 1026px 952px #FFF , 589px 1980px #FFF , 496px 1090px #FFF , 646px 1709px #FFF , 1535px 1046px #FFF , 1076px 382px #FFF , 462px 1611px #FFF , 979px 1444px #FFF , 986px 1248px #FFF , 1447px 746px #FFF , 204px 931px #FFF , 1019px 1818px #FFF , 16px 10px #FFF , 583px 290px #FFF , 832px 1701px #FFF , 1801px 1378px #FFF , 1005px 925px #FFF , 754px 1281px #FFF , 562px 1064px #FFF , 1782px 1671px #FFF , 1229px 770px #FFF , 1867px 554px #FFF , 1216px 646px #FFF , 1842px 577px #FFF , 1247px 1216px #FFF , 51px 1328px #FFF , 913px 97px #FFF , 394px 361px #FFF , 1820px 1431px #FFF , 549px 210px #FFF , 1591px 722px #FFF , 1051px 190px #FFF , 360px 212px #FFF , 1885px 171px #FFF , 990px 293px #FFF , 1166px 1635px #FFF , 1355px 54px #FFF , 811px 1402px #FFF , 1999px 1010px #FFF , 268px 773px #FFF , 1932px 280px #FFF , 518px 1641px #FFF , 981px 1393px #FFF , 1348px 1559px #FFF , 390px 1671px #FFF , 873px 1695px #FFF , 598px 1252px #FFF , 295px 1813px #FFF , 970px 513px #FFF , 1530px 1933px #FFF , 541px 1821px #FFF , 1940px 398px #FFF , 185px 397px #FFF , 411px 489px #FFF , 376px 1113px #FFF , 1001px 733px #FFF , 1049px 199px #FFF , 1720px 320px #FFF , 1197px 772px #FFF , 1950px 729px #FFF , 1786px 1633px #FFF , 1028px 1906px #FFF , 1161px 1349px #FFF , 1010px 587px #FFF , 1429px 1132px #FFF , 1933px 926px #FFF , 505px 1566px #FFF , 1594px 969px #FFF , 1861px 1355px #FFF , 1228px 1142px #FFF , 1313px 396px #FFF , 310px 219px #FFF , 1362px 1630px #FFF , 505px 842px #FFF , 995px 969px #FFF , 1598px 296px #FFF , 599px 1082px #FFF , 1535px 1531px #FFF , 1420px 1046px #FFF , 667px 488px #FFF , 621px 1989px #FFF , 1616px 1312px #FFF , 1967px 590px #FFF , 134px 258px #FFF , 1701px 1871px #FFF , 690px 148px #FFF , 524px 594px #FFF , 888px 1361px #FFF , 1492px 1356px #FFF , 350px 1056px #FFF , 856px 394px #FFF , 855px 1414px #FFF , 583px 105px #FFF , 1481px 95px #FFF , 912px 43px #FFF , 4px 1848px #FFF , 179px 1772px #FFF , 1484px 1996px #FFF , 1478px 1094px #FFF , 1338px 803px #FFF , 1033px 732px #FFF , 1382px 1798px #FFF , 1519px 1120px #FFF , 1203px 1019px #FFF , 424px 287px #FFF , 175px 472px #FFF , 234px 792px #FFF , 410px 1810px #FFF , 33px 180px #FFF , 649px 714px #FFF , 825px 1096px #FFF , 811px 1001px #FFF , 1951px 1063px #FFF , 639px 1916px #FFF , 890px 706px #FFF , 712px 1505px #FFF , 1004px 310px #FFF , 548px 1343px #FFF , 899px 1507px #FFF , 1742px 278px #FFF , 1679px 894px #FFF , 413px 1227px #FFF , 548px 1705px #FFF , 1842px 1692px #FFF , 1527px 1397px #FFF , 1445px 1518px #FFF , 1578px 1349px #FFF , 1946px 1469px #FFF , 1723px 438px #FFF , 88px 409px #FFF , 48px 214px #FFF , 256px 310px #FFF , 516px 1284px #FFF , 421px 1301px #FFF , 1968px 1915px #FFF , 994px 308px #FFF , 625px 1181px #FFF , 1940px 1062px #FFF , 690px 904px #FFF , 869px 1600px #FFF , 1252px 951px #FFF , 1409px 1385px #FFF , 1536px 24px #FFF , 1140px 1553px #FFF , 490px 567px #FFF , 1074px 952px #FFF , 1341px 187px #FFF , 927px 1517px #FFF , 1696px 1737px #FFF , 992px 1774px #FFF , 1973px 1736px #FFF , 306px 49px #FFF , 955px 126px #FFF , 317px 402px #FFF , 1659px 977px #FFF , 875px 1638px #FFF , 265px 865px #FFF , 1216px 1726px #FFF , 798px 967px #FFF , 26px 854px #FFF , 1118px 1157px #FFF , 546px 1261px #FFF , 73px 1085px #FFF , 1256px 32px #FFF , 243px 1246px #FFF , 731px 856px #FFF , 1276px 692px #FFF , 1037px 287px #FFF , 308px 119px #FFF , 369px 96px #FFF , 897px 222px #FFF , 743px 86px #FFF , 1233px 492px #FFF , 1534px 1327px #FFF , 1556px 1286px #FFF , 46px 350px #FFF , 418px 119px #FFF , 39px 1845px #FFF , 450px 493px #FFF , 1213px 158px #FFF , 1837px 1965px #FFF , 719px 143px #FFF , 952px 1748px #FFF , 1154px 1817px #FFF , 1181px 802px #FFF , 306px 1941px #FFF , 467px 154px #FFF , 507px 1333px #FFF , 1794px 54px #FFF , 643px 1861px #FFF , 893px 1683px #FFF , 678px 862px #FFF , 1556px 1257px #FFF , 1599px 551px #FFF , 1119px 276px #FFF , 909px 779px #FFF , 17px 1548px #FFF , 1747px 305px #FFF , 191px 893px #FFF , 1504px 1664px #FFF , 262px 342px #FFF , 1186px 69px #FFF , 100px 32px #FFF , 16px 803px #FFF , 1456px 441px #FFF , 83px 776px #FFF , 1277px 548px #FFF , 621px 578px #FFF , 757px 403px #FFF , 258px 902px #FFF , 524px 1156px #FFF , 1168px 912px #FFF , 1818px 397px #FFF , 230px 992px #FFF , 1273px 1344px #FFF , 688px 176px #FFF , 1291px 1594px #FFF , 1171px 1024px #FFF , 744px 1671px #FFF , 914px 593px #FFF , 1138px 803px #FFF , 1528px 773px #FFF , 1652px 221px #FFF , 1083px 234px #FFF , 1627px 406px #FFF , 1212px 1907px #FFF , 1129px 69px #FFF , 1591px 758px #FFF , 1188px 862px #FFF , 547px 1013px #FFF , 1439px 784px #FFF , 741px 318px #FFF , 838px 452px #FFF , 94px 415px #FFF , 951px 259px #FFF , 352px 163px #FFF , 6px 1389px #FFF , 1974px 1347px #FFF , 132px 464px #FFF , 465px 1170px #FFF , 1935px 1639px #FFF , 1100px 230px #FFF , 736px 959px #FFF , 189px 809px #FFF , 408px 1192px #FFF , 337px 1900px #FFF , 1928px 1522px #FFF , 1942px 668px #FFF , 978px 781px #FFF , 745px 1193px #FFF , 196px 438px #FFF , 1649px 1900px #FFF , 445px 168px #FFF , 1131px 18px #FFF , 1899px 1602px #FFF , 1784px 1353px #FFF , 740px 810px #FFF , 143px 1309px #FFF , 71px 639px #FFF , 1489px 1644px #FFF , 1963px 1785px #FFF , 738px 954px #FFF , 1923px 165px #FFF , 1759px 1961px #FFF , 407px 1764px #FFF , 597px 996px #FFF , 323px 901px #FFF , 1287px 216px #FFF , 481px 1742px #FFF , 1427px 230px #FFF , 441px 706px #FFF , 1727px 1610px #FFF , 81px 473px #FFF , 1920px 1348px #FFF , 225px 1141px #FFF , 438px 767px #FFF , 1965px 1577px #FFF , 896px 255px #FFF , 1770px 1129px #FFF , 750px 567px #FFF , 1813px 1230px #FFF;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 603px 1652px #FFF , 525px 89px #FFF , 1511px 683px #FFF , 1040px 1245px #FFF , 251px 1509px #FFF , 1784px 1280px #FFF , 1137px 1777px #FFF , 3px 16px #FFF , 1879px 1226px #FFF , 1439px 1938px #FFF , 563px 559px #FFF , 1455px 33px #FFF , 62px 1640px #FFF , 668px 1102px #FFF , 1353px 949px #FFF , 1023px 900px #FFF , 144px 1884px #FFF , 772px 682px #FFF , 312px 1246px #FFF , 1456px 1277px #FFF , 220px 816px #FFF , 373px 1466px #FFF , 745px 920px #FFF , 931px 1175px #FFF , 713px 507px #FFF , 369px 32px #FFF , 1084px 1854px #FFF , 1810px 1830px #FFF , 1088px 1037px #FFF , 1204px 949px #FFF , 1746px 1433px #FFF , 1454px 551px #FFF , 715px 794px #FFF , 1936px 803px #FFF , 843px 183px #FFF , 940px 114px #FFF , 592px 938px #FFF , 1711px 888px #FFF , 949px 1419px #FFF , 625px 150px #FFF , 159px 1448px #FFF , 1001px 561px #FFF , 1228px 1682px #FFF , 1047px 638px #FFF , 1928px 469px #FFF , 86px 1207px #FFF , 1987px 660px #FFF , 1100px 1722px #FFF , 1096px 1962px #FFF , 356px 1172px #FFF , 138px 1519px #FFF , 596px 654px #FFF , 395px 506px #FFF , 799px 1351px #FFF , 119px 430px #FFF , 1149px 168px #FFF , 1903px 672px #FFF , 419px 573px #FFF , 1782px 1977px #FFF , 290px 501px #FFF , 1212px 1674px #FFF , 565px 249px #FFF , 1276px 566px #FFF , 146px 223px #FFF , 716px 1917px #FFF , 1601px 1369px #FFF , 599px 827px #FFF , 1865px 160px #FFF , 1407px 808px #FFF , 1895px 1095px #FFF , 1032px 923px #FFF , 1829px 1933px #FFF , 1665px 1795px #FFF , 426px 1401px #FFF , 168px 1224px #FFF , 1146px 1776px #FFF , 648px 1092px #FFF , 349px 861px #FFF , 960px 1320px #FFF , 1580px 526px #FFF , 1488px 298px #FFF , 743px 1489px #FFF , 1015px 600px #FFF , 170px 1099px #FFF , 122px 1378px #FFF , 1483px 556px #FFF , 1604px 133px #FFF , 1655px 380px #FFF , 623px 818px #FFF , 144px 1295px #FFF , 1644px 1327px #FFF , 1985px 1470px #FFF , 338px 529px #FFF , 1666px 178px #FFF , 396px 293px #FFF , 1707px 850px #FFF , 215px 1609px #FFF , 685px 1406px #FFF , 16px 1287px #FFF , 215px 320px #FFF , 725px 512px #FFF , 1749px 512px #FFF , 224px 1495px #FFF , 78px 1131px #FFF , 1976px 1625px #FFF , 1164px 1457px #FFF , 1139px 1712px #FFF , 1709px 470px #FFF , 728px 1740px #FFF , 1620px 1762px #FFF , 267px 126px #FFF , 1723px 669px #FFF , 1968px 954px #FFF , 1272px 845px #FFF , 1988px 1308px #FFF , 551px 587px #FFF , 1298px 662px #FFF , 1343px 791px #FFF , 1286px 908px #FFF , 1156px 143px #FFF , 1537px 1738px #FFF , 147px 488px #FFF , 1149px 458px #FFF , 1356px 1259px #FFF , 1427px 93px #FFF , 58px 869px #FFF , 270px 1296px #FFF , 841px 1292px #FFF , 1912px 1700px #FFF , 211px 146px #FFF , 911px 818px #FFF , 232px 1632px #FFF , 917px 784px #FFF , 847px 1469px #FFF , 293px 701px #FFF , 1022px 213px #FFF , 99px 1109px #FFF , 471px 149px #FFF , 1035px 906px #FFF , 1686px 1303px #FFF , 879px 218px #FFF , 64px 596px #FFF , 1027px 957px #FFF , 676px 209px #FFF , 1475px 1264px #FFF , 321px 1203px #FFF , 257px 413px #FFF , 690px 362px #FFF , 808px 400px #FFF , 1084px 474px #FFF , 368px 1628px #FFF , 1332px 1941px #FFF , 808px 1639px #FFF , 1573px 1949px #FFF , 33px 225px #FFF , 1261px 1329px #FFF , 1951px 1458px #FFF , 1936px 729px #FFF , 132px 1507px #FFF , 268px 576px #FFF , 874px 842px #FFF , 998px 553px #FFF , 999px 527px #FFF , 636px 3px #FFF , 652px 1529px #FFF , 180px 1047px #FFF , 1004px 174px #FFF , 1496px 1305px #FFF , 729px 606px #FFF , 234px 460px #FFF , 1762px 152px #FFF , 1776px 800px #FFF , 966px 572px #FFF , 1869px 453px #FFF , 1991px 859px #FFF , 930px 1372px #FFF , 362px 586px #FFF , 500px 781px #FFF , 1900px 1497px #FFF , 1908px 856px #FFF , 1117px 265px #FFF , 1556px 1053px #FFF , 1621px 893px #FFF , 49px 1699px #FFF , 1386px 1310px #FFF , 885px 1081px #FFF , 1948px 251px #FFF , 129px 98px #FFF , 475px 1596px #FFF , 224px 1127px #FFF , 1898px 1486px #FFF , 250px 1428px #FFF , 1949px 8px #FFF , 835px 598px #FFF , 1920px 1569px #FFF , 946px 1440px #FFF , 637px 844px #FFF , 190px 1114px #FFF , 1064px 1353px #FFF , 1609px 519px #FFF , 539px 65px #FFF , 931px 4px #FFF , 794px 865px #FFF , 1401px 1709px #FFF , 1974px 1561px #FFF , 1093px 118px #FFF , 30px 906px #FFF , 442px 104px #FFF , 485px 591px #FFF , 1923px 532px #FFF , 280px 1929px #FFF , 1795px 1222px #FFF , 278px 964px #FFF , 181px 839px #FFF , 1886px 1469px #FFF , 1070px 839px #FFF , 1256px 778px #FFF , 1605px 1688px #FFF , 964px 408px #FFF , 1087px 1850px #FFF , 1862px 642px #FFF , 635px 1819px #FFF , 559px 284px #FFF , 1065px 1998px #FFF , 1827px 1396px #FFF , 163px 908px #FFF , 597px 1388px #FFF , 246px 829px #FFF , 1610px 975px #FFF , 465px 1306px #FFF , 1262px 1722px #FFF , 1821px 271px #FFF , 547px 1169px #FFF , 1373px 1119px #FFF , 565px 1191px #FFF , 717px 876px #FFF , 1594px 1306px #FFF , 1436px 1878px #FFF , 1804px 956px #FFF , 795px 1558px #FFF , 1529px 586px #FFF , 1299px 632px #FFF , 237px 571px #FFF , 1327px 97px #FFF , 1843px 1871px #FFF , 389px 433px #FFF , 228px 898px #FFF , 1349px 1857px #FFF , 1543px 1606px #FFF , 7px 1746px #FFF , 293px 753px #FFF , 1282px 874px #FFF , 1959px 1528px #FFF , 1519px 936px #FFF , 857px 765px #FFF , 1458px 279px #FFF , 1425px 1102px #FFF , 1068px 173px #FFF , 471px 1872px #FFF , 1900px 1253px #FFF , 1190px 111px #FFF , 1262px 652px #FFF , 771px 285px #FFF , 550px 182px #FFF , 639px 1503px #FFF , 1844px 108px #FFF , 23px 951px #FFF , 1523px 1922px #FFF , 989px 1467px #FFF , 596px 1588px #FFF , 315px 776px #FFF , 555px 1732px #FFF , 804px 304px #FFF , 1206px 171px #FFF , 193px 1411px #FFF , 191px 1624px #FFF , 494px 672px #FFF , 411px 939px #FFF , 350px 1661px #FFF , 1276px 944px #FFF , 1945px 1066px #FFF , 1830px 1415px #FFF , 309px 540px #FFF , 958px 99px #FFF , 777px 1144px #FFF , 786px 1311px #FFF , 1188px 949px #FFF , 876px 864px #FFF , 755px 722px #FFF , 1151px 1794px #FFF , 1351px 471px #FFF , 645px 1642px #FFF , 967px 1923px #FFF , 1014px 915px #FFF , 1949px 913px #FFF , 1105px 42px #FFF , 1148px 1602px #FFF , 1177px 384px #FFF , 613px 1395px #FFF , 1888px 651px #FFF , 1017px 935px #FFF , 798px 256px #FFF , 940px 1527px #FFF , 1508px 1024px #FFF , 725px 1923px #FFF , 94px 558px #FFF , 1254px 1824px #FFF , 489px 1915px #FFF , 664px 713px #FFF , 812px 968px #FFF , 578px 173px #FFF , 1596px 1917px #FFF , 634px 969px #FFF , 916px 1678px #FFF , 1814px 766px #FFF , 990px 771px #FFF , 1860px 1494px #FFF , 1023px 182px #FFF , 1882px 833px #FFF , 1197px 918px #FFF , 671px 149px #FFF , 577px 494px #FFF , 1974px 251px #FFF , 1376px 1643px #FFF , 1877px 1059px #FFF , 81px 1453px #FFF , 1504px 128px #FFF , 1556px 1005px #FFF , 832px 1658px #FFF , 181px 345px #FFF , 388px 552px #FFF , 1437px 835px #FFF , 1836px 1930px #FFF , 1100px 956px #FFF , 373px 1483px #FFF , 218px 1360px #FFF , 186px 1494px #FFF , 545px 584px #FFF , 427px 1438px #FFF , 445px 121px #FFF , 235px 771px #FFF , 1513px 1519px #FFF , 1810px 610px #FFF , 1139px 687px #FFF , 1482px 193px #FFF , 477px 1997px #FFF , 396px 343px #FFF , 146px 1432px #FFF , 599px 1636px #FFF , 477px 1707px #FFF , 24px 64px #FFF , 1641px 976px #FFF , 1425px 1990px #FFF , 40px 1709px #FFF , 517px 509px #FFF , 569px 765px #FFF , 1932px 750px #FFF , 722px 1512px #FFF , 1083px 951px #FFF , 898px 576px #FFF , 1932px 264px #FFF , 57px 1492px #FFF , 34px 278px #FFF , 1290px 1273px #FFF , 831px 1299px #FFF , 1478px 1104px #FFF , 1955px 1824px #FFF , 1817px 1136px #FFF , 883px 1983px #FFF , 653px 1154px #FFF , 1676px 902px #FFF , 1216px 1580px #FFF , 1336px 200px #FFF , 462px 1128px #FFF , 1855px 229px #FFF , 621px 1268px #FFF , 806px 1495px #FFF , 1142px 42px #FFF , 1394px 1391px #FFF , 1530px 1659px #FFF , 693px 738px #FFF , 762px 1157px #FFF , 64px 1813px #FFF , 1627px 625px #FFF , 476px 1455px #FFF , 426px 1253px #FFF , 151px 873px #FFF , 673px 1343px #FFF , 1924px 828px #FFF , 1036px 868px #FFF , 947px 953px #FFF , 408px 1902px #FFF , 1409px 583px #FFF , 1349px 195px #FFF , 450px 810px #FFF , 1909px 1078px #FFF , 682px 97px #FFF , 920px 1411px #FFF , 1225px 31px #FFF , 189px 1761px #FFF , 282px 292px #FFF , 704px 1296px #FFF , 519px 479px #FFF , 1328px 12px #FFF , 1831px 1759px #FFF , 10px 1404px #FFF , 963px 815px #FFF , 1142px 266px #FFF , 523px 1814px #FFF , 27px 990px #FFF , 140px 1754px #FFF , 324px 1072px #FFF , 1246px 551px #FFF , 122px 788px #FFF , 146px 1993px #FFF , 685px 893px #FFF , 1220px 570px #FFF , 780px 691px #FFF , 503px 1501px #FFF , 1026px 952px #FFF , 589px 1980px #FFF , 496px 1090px #FFF , 646px 1709px #FFF , 1535px 1046px #FFF , 1076px 382px #FFF , 462px 1611px #FFF , 979px 1444px #FFF , 986px 1248px #FFF , 1447px 746px #FFF , 204px 931px #FFF , 1019px 1818px #FFF , 16px 10px #FFF , 583px 290px #FFF , 832px 1701px #FFF , 1801px 1378px #FFF , 1005px 925px #FFF , 754px 1281px #FFF , 562px 1064px #FFF , 1782px 1671px #FFF , 1229px 770px #FFF , 1867px 554px #FFF , 1216px 646px #FFF , 1842px 577px #FFF , 1247px 1216px #FFF , 51px 1328px #FFF , 913px 97px #FFF , 394px 361px #FFF , 1820px 1431px #FFF , 549px 210px #FFF , 1591px 722px #FFF , 1051px 190px #FFF , 360px 212px #FFF , 1885px 171px #FFF , 990px 293px #FFF , 1166px 1635px #FFF , 1355px 54px #FFF , 811px 1402px #FFF , 1999px 1010px #FFF , 268px 773px #FFF , 1932px 280px #FFF , 518px 1641px #FFF , 981px 1393px #FFF , 1348px 1559px #FFF , 390px 1671px #FFF , 873px 1695px #FFF , 598px 1252px #FFF , 295px 1813px #FFF , 970px 513px #FFF , 1530px 1933px #FFF , 541px 1821px #FFF , 1940px 398px #FFF , 185px 397px #FFF , 411px 489px #FFF , 376px 1113px #FFF , 1001px 733px #FFF , 1049px 199px #FFF , 1720px 320px #FFF , 1197px 772px #FFF , 1950px 729px #FFF , 1786px 1633px #FFF , 1028px 1906px #FFF , 1161px 1349px #FFF , 1010px 587px #FFF , 1429px 1132px #FFF , 1933px 926px #FFF , 505px 1566px #FFF , 1594px 969px #FFF , 1861px 1355px #FFF , 1228px 1142px #FFF , 1313px 396px #FFF , 310px 219px #FFF , 1362px 1630px #FFF , 505px 842px #FFF , 995px 969px #FFF , 1598px 296px #FFF , 599px 1082px #FFF , 1535px 1531px #FFF , 1420px 1046px #FFF , 667px 488px #FFF , 621px 1989px #FFF , 1616px 1312px #FFF , 1967px 590px #FFF , 134px 258px #FFF , 1701px 1871px #FFF , 690px 148px #FFF , 524px 594px #FFF , 888px 1361px #FFF , 1492px 1356px #FFF , 350px 1056px #FFF , 856px 394px #FFF , 855px 1414px #FFF , 583px 105px #FFF , 1481px 95px #FFF , 912px 43px #FFF , 4px 1848px #FFF , 179px 1772px #FFF , 1484px 1996px #FFF , 1478px 1094px #FFF , 1338px 803px #FFF , 1033px 732px #FFF , 1382px 1798px #FFF , 1519px 1120px #FFF , 1203px 1019px #FFF , 424px 287px #FFF , 175px 472px #FFF , 234px 792px #FFF , 410px 1810px #FFF , 33px 180px #FFF , 649px 714px #FFF , 825px 1096px #FFF , 811px 1001px #FFF , 1951px 1063px #FFF , 639px 1916px #FFF , 890px 706px #FFF , 712px 1505px #FFF , 1004px 310px #FFF , 548px 1343px #FFF , 899px 1507px #FFF , 1742px 278px #FFF , 1679px 894px #FFF , 413px 1227px #FFF , 548px 1705px #FFF , 1842px 1692px #FFF , 1527px 1397px #FFF , 1445px 1518px #FFF , 1578px 1349px #FFF , 1946px 1469px #FFF , 1723px 438px #FFF , 88px 409px #FFF , 48px 214px #FFF , 256px 310px #FFF , 516px 1284px #FFF , 421px 1301px #FFF , 1968px 1915px #FFF , 994px 308px #FFF , 625px 1181px #FFF , 1940px 1062px #FFF , 690px 904px #FFF , 869px 1600px #FFF , 1252px 951px #FFF , 1409px 1385px #FFF , 1536px 24px #FFF , 1140px 1553px #FFF , 490px 567px #FFF , 1074px 952px #FFF , 1341px 187px #FFF , 927px 1517px #FFF , 1696px 1737px #FFF , 992px 1774px #FFF , 1973px 1736px #FFF , 306px 49px #FFF , 955px 126px #FFF , 317px 402px #FFF , 1659px 977px #FFF , 875px 1638px #FFF , 265px 865px #FFF , 1216px 1726px #FFF , 798px 967px #FFF , 26px 854px #FFF , 1118px 1157px #FFF , 546px 1261px #FFF , 73px 1085px #FFF , 1256px 32px #FFF , 243px 1246px #FFF , 731px 856px #FFF , 1276px 692px #FFF , 1037px 287px #FFF , 308px 119px #FFF , 369px 96px #FFF , 897px 222px #FFF , 743px 86px #FFF , 1233px 492px #FFF , 1534px 1327px #FFF , 1556px 1286px #FFF , 46px 350px #FFF , 418px 119px #FFF , 39px 1845px #FFF , 450px 493px #FFF , 1213px 158px #FFF , 1837px 1965px #FFF , 719px 143px #FFF , 952px 1748px #FFF , 1154px 1817px #FFF , 1181px 802px #FFF , 306px 1941px #FFF , 467px 154px #FFF , 507px 1333px #FFF , 1794px 54px #FFF , 643px 1861px #FFF , 893px 1683px #FFF , 678px 862px #FFF , 1556px 1257px #FFF , 1599px 551px #FFF , 1119px 276px #FFF , 909px 779px #FFF , 17px 1548px #FFF , 1747px 305px #FFF , 191px 893px #FFF , 1504px 1664px #FFF , 262px 342px #FFF , 1186px 69px #FFF , 100px 32px #FFF , 16px 803px #FFF , 1456px 441px #FFF , 83px 776px #FFF , 1277px 548px #FFF , 621px 578px #FFF , 757px 403px #FFF , 258px 902px #FFF , 524px 1156px #FFF , 1168px 912px #FFF , 1818px 397px #FFF , 230px 992px #FFF , 1273px 1344px #FFF , 688px 176px #FFF , 1291px 1594px #FFF , 1171px 1024px #FFF , 744px 1671px #FFF , 914px 593px #FFF , 1138px 803px #FFF , 1528px 773px #FFF , 1652px 221px #FFF , 1083px 234px #FFF , 1627px 406px #FFF , 1212px 1907px #FFF , 1129px 69px #FFF , 1591px 758px #FFF , 1188px 862px #FFF , 547px 1013px #FFF , 1439px 784px #FFF , 741px 318px #FFF , 838px 452px #FFF , 94px 415px #FFF , 951px 259px #FFF , 352px 163px #FFF , 6px 1389px #FFF , 1974px 1347px #FFF , 132px 464px #FFF , 465px 1170px #FFF , 1935px 1639px #FFF , 1100px 230px #FFF , 736px 959px #FFF , 189px 809px #FFF , 408px 1192px #FFF , 337px 1900px #FFF , 1928px 1522px #FFF , 1942px 668px #FFF , 978px 781px #FFF , 745px 1193px #FFF , 196px 438px #FFF , 1649px 1900px #FFF , 445px 168px #FFF , 1131px 18px #FFF , 1899px 1602px #FFF , 1784px 1353px #FFF , 740px 810px #FFF , 143px 1309px #FFF , 71px 639px #FFF , 1489px 1644px #FFF , 1963px 1785px #FFF , 738px 954px #FFF , 1923px 165px #FFF , 1759px 1961px #FFF , 407px 1764px #FFF , 597px 996px #FFF , 323px 901px #FFF , 1287px 216px #FFF , 481px 1742px #FFF , 1427px 230px #FFF , 441px 706px #FFF , 1727px 1610px #FFF , 81px 473px #FFF , 1920px 1348px #FFF , 225px 1141px #FFF , 438px 767px #FFF , 1965px 1577px #FFF , 896px 255px #FFF , 1770px 1129px #FFF , 750px 567px #FFF , 1813px 1230px #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 375px 1065px #FFF , 1755px 1150px #FFF , 943px 1888px #FFF , 1262px 79px #FFF , 1076px 1983px #FFF , 1603px 543px #FFF , 1289px 777px #FFF , 660px 1340px #FFF , 1652px 997px #FFF , 1573px 1359px #FFF , 271px 817px #FFF , 1522px 1915px #FFF , 182px 255px #FFF , 429px 1811px #FFF , 829px 1927px #FFF , 1311px 1160px #FFF , 246px 1554px #FFF , 1864px 274px #FFF , 512px 530px #FFF , 1207px 1920px #FFF , 741px 1208px #FFF , 555px 1221px #FFF , 19px 1892px #FFF , 355px 1726px #FFF , 255px 1827px #FFF , 1209px 207px #FFF , 1527px 1633px #FFF , 349px 518px #FFF , 223px 1908px #FFF , 1171px 1844px #FFF , 340px 425px #FFF , 551px 970px #FFF , 1507px 1622px #FFF , 183px 1680px #FFF , 484px 1848px #FFF , 844px 471px #FFF , 567px 37px #FFF , 1947px 1846px #FFF , 626px 1715px #FFF , 581px 386px #FFF , 489px 800px #FFF , 740px 1172px #FFF , 1449px 1417px #FFF , 1622px 711px #FFF , 1231px 1774px #FFF , 1019px 787px #FFF , 89px 643px #FFF , 249px 557px #FFF , 1184px 706px #FFF , 932px 1378px #FFF , 1304px 1782px #FFF , 702px 705px #FFF , 511px 1445px #FFF , 71px 984px #FFF , 1798px 1635px #FFF , 1965px 12px #FFF , 196px 988px #FFF , 1768px 38px #FFF , 1863px 1686px #FFF , 1275px 1651px #FFF , 663px 1687px #FFF , 897px 842px #FFF , 1926px 1842px #FFF , 1766px 636px #FFF , 285px 455px #FFF , 82px 1901px #FFF , 979px 1972px #FFF , 1606px 585px #FFF , 1483px 903px #FFF , 1784px 1879px #FFF , 993px 513px #FFF , 1547px 1448px #FFF , 110px 58px #FFF , 365px 1079px #FFF , 980px 1309px #FFF , 1721px 821px #FFF , 1820px 1122px #FFF , 1336px 1839px #FFF , 1167px 1932px #FFF , 321px 61px #FFF , 1862px 907px #FFF , 866px 1838px #FFF , 1205px 1073px #FFF , 1742px 902px #FFF , 1284px 1210px #FFF , 1842px 1306px #FFF , 68px 1730px #FFF , 1239px 600px #FFF , 1208px 1280px #FFF , 1283px 974px #FFF , 738px 1305px #FFF , 899px 605px #FFF , 1234px 269px #FFF , 1502px 556px #FFF , 442px 631px #FFF , 1125px 265px #FFF , 1851px 1421px #FFF , 1328px 1536px #FFF , 23px 1392px #FFF , 802px 90px #FFF , 115px 25px #FFF , 1235px 570px #FFF , 1224px 624px #FFF , 114px 1227px #FFF , 471px 22px #FFF , 1761px 764px #FFF , 1087px 1342px #FFF , 357px 795px #FFF , 1075px 310px #FFF , 648px 461px #FFF , 888px 447px #FFF , 1104px 1817px #FFF , 1281px 1385px #FFF , 652px 963px #FFF , 794px 1779px #FFF , 1503px 632px #FFF , 504px 888px #FFF , 504px 432px #FFF , 843px 238px #FFF , 341px 1271px #FFF , 1616px 440px #FFF , 441px 1939px #FFF , 125px 673px #FFF , 1045px 706px #FFF , 1083px 443px #FFF , 921px 554px #FFF , 1119px 1748px #FFF , 1052px 1282px #FFF , 1876px 1318px #FFF , 1913px 189px #FFF , 749px 861px #FFF , 980px 552px #FFF , 502px 1378px #FFF , 1631px 96px #FFF , 459px 1809px #FFF , 1816px 165px #FFF , 1912px 1238px #FFF , 1037px 1384px #FFF , 1247px 71px #FFF , 1082px 422px #FFF , 1516px 1181px #FFF , 535px 1615px #FFF , 762px 1496px #FFF , 1474px 1795px #FFF , 757px 1498px #FFF , 601px 210px #FFF , 284px 1222px #FFF , 217px 1765px #FFF , 1343px 470px #FFF , 603px 1066px #FFF , 1989px 1910px #FFF , 24px 185px #FFF , 553px 1237px #FFF , 1077px 1329px #FFF , 103px 635px #FFF , 1591px 1696px #FFF , 1427px 1963px #FFF , 41px 703px #FFF , 1569px 308px #FFF , 457px 1859px #FFF , 1452px 1809px #FFF , 620px 1300px #FFF , 452px 652px #FFF , 983px 1600px #FFF , 1606px 887px #FFF , 218px 172px #FFF , 384px 1360px #FFF , 1819px 899px #FFF , 1440px 977px #FFF , 1515px 1475px #FFF , 686px 1765px #FFF , 1424px 1560px #FFF , 1325px 694px #FFF , 712px 1463px #FFF , 797px 1531px #FFF , 969px 1189px #FFF , 1422px 1923px #FFF , 952px 1813px #FFF , 666px 326px #FFF , 650px 1853px #FFF , 1823px 140px #FFF , 28px 165px #FFF , 1338px 946px #FFF , 869px 864px #FFF , 645px 622px #FFF , 307px 1290px #FFF , 833px 536px #FFF , 1906px 1288px #FFF , 1604px 443px #FFF , 223px 1045px #FFF , 1510px 1549px #FFF , 1071px 1203px #FFF , 612px 1162px #FFF , 1438px 700px #FFF , 1212px 1139px #FFF , 265px 864px #FFF , 1241px 952px #FFF , 883px 1106px #FFF , 391px 1944px #FFF , 1248px 358px #FFF;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 375px 1065px #FFF , 1755px 1150px #FFF , 943px 1888px #FFF , 1262px 79px #FFF , 1076px 1983px #FFF , 1603px 543px #FFF , 1289px 777px #FFF , 660px 1340px #FFF , 1652px 997px #FFF , 1573px 1359px #FFF , 271px 817px #FFF , 1522px 1915px #FFF , 182px 255px #FFF , 429px 1811px #FFF , 829px 1927px #FFF , 1311px 1160px #FFF , 246px 1554px #FFF , 1864px 274px #FFF , 512px 530px #FFF , 1207px 1920px #FFF , 741px 1208px #FFF , 555px 1221px #FFF , 19px 1892px #FFF , 355px 1726px #FFF , 255px 1827px #FFF , 1209px 207px #FFF , 1527px 1633px #FFF , 349px 518px #FFF , 223px 1908px #FFF , 1171px 1844px #FFF , 340px 425px #FFF , 551px 970px #FFF , 1507px 1622px #FFF , 183px 1680px #FFF , 484px 1848px #FFF , 844px 471px #FFF , 567px 37px #FFF , 1947px 1846px #FFF , 626px 1715px #FFF , 581px 386px #FFF , 489px 800px #FFF , 740px 1172px #FFF , 1449px 1417px #FFF , 1622px 711px #FFF , 1231px 1774px #FFF , 1019px 787px #FFF , 89px 643px #FFF , 249px 557px #FFF , 1184px 706px #FFF , 932px 1378px #FFF , 1304px 1782px #FFF , 702px 705px #FFF , 511px 1445px #FFF , 71px 984px #FFF , 1798px 1635px #FFF , 1965px 12px #FFF , 196px 988px #FFF , 1768px 38px #FFF , 1863px 1686px #FFF , 1275px 1651px #FFF , 663px 1687px #FFF , 897px 842px #FFF , 1926px 1842px #FFF , 1766px 636px #FFF , 285px 455px #FFF , 82px 1901px #FFF , 979px 1972px #FFF , 1606px 585px #FFF , 1483px 903px #FFF , 1784px 1879px #FFF , 993px 513px #FFF , 1547px 1448px #FFF , 110px 58px #FFF , 365px 1079px #FFF , 980px 1309px #FFF , 1721px 821px #FFF , 1820px 1122px #FFF , 1336px 1839px #FFF , 1167px 1932px #FFF , 321px 61px #FFF , 1862px 907px #FFF , 866px 1838px #FFF , 1205px 1073px #FFF , 1742px 902px #FFF , 1284px 1210px #FFF , 1842px 1306px #FFF , 68px 1730px #FFF , 1239px 600px #FFF , 1208px 1280px #FFF , 1283px 974px #FFF , 738px 1305px #FFF , 899px 605px #FFF , 1234px 269px #FFF , 1502px 556px #FFF , 442px 631px #FFF , 1125px 265px #FFF , 1851px 1421px #FFF , 1328px 1536px #FFF , 23px 1392px #FFF , 802px 90px #FFF , 115px 25px #FFF , 1235px 570px #FFF , 1224px 624px #FFF , 114px 1227px #FFF , 471px 22px #FFF , 1761px 764px #FFF , 1087px 1342px #FFF , 357px 795px #FFF , 1075px 310px #FFF , 648px 461px #FFF , 888px 447px #FFF , 1104px 1817px #FFF , 1281px 1385px #FFF , 652px 963px #FFF , 794px 1779px #FFF , 1503px 632px #FFF , 504px 888px #FFF , 504px 432px #FFF , 843px 238px #FFF , 341px 1271px #FFF , 1616px 440px #FFF , 441px 1939px #FFF , 125px 673px #FFF , 1045px 706px #FFF , 1083px 443px #FFF , 921px 554px #FFF , 1119px 1748px #FFF , 1052px 1282px #FFF , 1876px 1318px #FFF , 1913px 189px #FFF , 749px 861px #FFF , 980px 552px #FFF , 502px 1378px #FFF , 1631px 96px #FFF , 459px 1809px #FFF , 1816px 165px #FFF , 1912px 1238px #FFF , 1037px 1384px #FFF , 1247px 71px #FFF , 1082px 422px #FFF , 1516px 1181px #FFF , 535px 1615px #FFF , 762px 1496px #FFF , 1474px 1795px #FFF , 757px 1498px #FFF , 601px 210px #FFF , 284px 1222px #FFF , 217px 1765px #FFF , 1343px 470px #FFF , 603px 1066px #FFF , 1989px 1910px #FFF , 24px 185px #FFF , 553px 1237px #FFF , 1077px 1329px #FFF , 103px 635px #FFF , 1591px 1696px #FFF , 1427px 1963px #FFF , 41px 703px #FFF , 1569px 308px #FFF , 457px 1859px #FFF , 1452px 1809px #FFF , 620px 1300px #FFF , 452px 652px #FFF , 983px 1600px #FFF , 1606px 887px #FFF , 218px 172px #FFF , 384px 1360px #FFF , 1819px 899px #FFF , 1440px 977px #FFF , 1515px 1475px #FFF , 686px 1765px #FFF , 1424px 1560px #FFF , 1325px 694px #FFF , 712px 1463px #FFF , 797px 1531px #FFF , 969px 1189px #FFF , 1422px 1923px #FFF , 952px 1813px #FFF , 666px 326px #FFF , 650px 1853px #FFF , 1823px 140px #FFF , 28px 165px #FFF , 1338px 946px #FFF , 869px 864px #FFF , 645px 622px #FFF , 307px 1290px #FFF , 833px 536px #FFF , 1906px 1288px #FFF , 1604px 443px #FFF , 223px 1045px #FFF , 1510px 1549px #FFF , 1071px 1203px #FFF , 612px 1162px #FFF , 1438px 700px #FFF , 1212px 1139px #FFF , 265px 864px #FFF , 1241px 952px #FFF , 883px 1106px #FFF , 391px 1944px #FFF , 1248px 358px #FFF;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1014px 400px #FFF , 1475px 227px #FFF , 437px 1579px #FFF , 170px 790px #FFF , 827px 1616px #FFF , 57px 1989px #FFF , 1743px 863px #FFF , 1536px 905px #FFF , 1332px 764px #FFF , 1645px 77px #FFF , 1803px 334px #FFF , 837px 873px #FFF , 1322px 322px #FFF , 1356px 1936px #FFF , 122px 556px #FFF , 1387px 1433px #FFF , 1522px 1675px #FFF , 1450px 235px #FFF , 41px 1265px #FFF , 1015px 458px #FFF , 1416px 744px #FFF , 1846px 1033px #FFF , 1917px 1768px #FFF , 372px 667px #FFF , 627px 459px #FFF , 1825px 1386px #FFF , 1635px 1239px #FFF , 20px 222px #FFF , 1325px 225px #FFF , 381px 1133px #FFF , 1702px 602px #FFF , 1826px 777px #FFF , 1269px 1299px #FFF , 923px 1210px #FFF , 851px 1990px #FFF , 667px 574px #FFF , 99px 267px #FFF , 691px 999px #FFF , 1682px 1257px #FFF , 1078px 193px #FFF , 254px 1415px #FFF , 1710px 1594px #FFF , 142px 1092px #FFF , 8px 1049px #FFF , 840px 886px #FFF , 1817px 1404px #FFF , 1901px 404px #FFF , 1361px 182px #FFF , 282px 1619px #FFF , 1018px 249px #FFF , 1939px 1896px #FFF , 1168px 1834px #FFF , 272px 1066px #FFF , 1438px 1458px #FFF , 474px 806px #FFF , 1512px 1918px #FFF , 1826px 1778px #FFF , 538px 1472px #FFF , 1411px 465px #FFF , 129px 486px #FFF , 1936px 1790px #FFF , 1188px 1460px #FFF , 378px 1743px #FFF , 1332px 1757px #FFF , 132px 1014px #FFF , 1782px 1411px #FFF , 17px 659px #FFF , 4px 645px #FFF , 509px 1385px #FFF , 1172px 232px #FFF , 1090px 480px #FFF , 576px 1972px #FFF , 831px 673px #FFF , 1990px 478px #FFF , 503px 576px #FFF , 1653px 1209px #FFF , 1311px 655px #FFF , 1773px 1178px #FFF , 498px 1044px #FFF , 1237px 1106px #FFF , 211px 231px #FFF , 1762px 352px #FFF , 557px 456px #FFF , 1999px 1299px #FFF , 96px 1908px #FFF , 1652px 649px #FFF , 1449px 529px #FFF , 1985px 1728px #FFF , 452px 31px #FFF , 1576px 1443px #FFF , 824px 15px #FFF , 100px 1869px #FFF , 529px 1339px #FFF , 1605px 1947px #FFF , 89px 660px #FFF , 50px 1389px #FFF , 329px 1724px #FFF , 321px 1700px #FFF , 200px 84px #FFF , 1789px 132px #FFF;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1014px 400px #FFF , 1475px 227px #FFF , 437px 1579px #FFF , 170px 790px #FFF , 827px 1616px #FFF , 57px 1989px #FFF , 1743px 863px #FFF , 1536px 905px #FFF , 1332px 764px #FFF , 1645px 77px #FFF , 1803px 334px #FFF , 837px 873px #FFF , 1322px 322px #FFF , 1356px 1936px #FFF , 122px 556px #FFF , 1387px 1433px #FFF , 1522px 1675px #FFF , 1450px 235px #FFF , 41px 1265px #FFF , 1015px 458px #FFF , 1416px 744px #FFF , 1846px 1033px #FFF , 1917px 1768px #FFF , 372px 667px #FFF , 627px 459px #FFF , 1825px 1386px #FFF , 1635px 1239px #FFF , 20px 222px #FFF , 1325px 225px #FFF , 381px 1133px #FFF , 1702px 602px #FFF , 1826px 777px #FFF , 1269px 1299px #FFF , 923px 1210px #FFF , 851px 1990px #FFF , 667px 574px #FFF , 99px 267px #FFF , 691px 999px #FFF , 1682px 1257px #FFF , 1078px 193px #FFF , 254px 1415px #FFF , 1710px 1594px #FFF , 142px 1092px #FFF , 8px 1049px #FFF , 840px 886px #FFF , 1817px 1404px #FFF , 1901px 404px #FFF , 1361px 182px #FFF , 282px 1619px #FFF , 1018px 249px #FFF , 1939px 1896px #FFF , 1168px 1834px #FFF , 272px 1066px #FFF , 1438px 1458px #FFF , 474px 806px #FFF , 1512px 1918px #FFF , 1826px 1778px #FFF , 538px 1472px #FFF , 1411px 465px #FFF , 129px 486px #FFF , 1936px 1790px #FFF , 1188px 1460px #FFF , 378px 1743px #FFF , 1332px 1757px #FFF , 132px 1014px #FFF , 1782px 1411px #FFF , 17px 659px #FFF , 4px 645px #FFF , 509px 1385px #FFF , 1172px 232px #FFF , 1090px 480px #FFF , 576px 1972px #FFF , 831px 673px #FFF , 1990px 478px #FFF , 503px 576px #FFF , 1653px 1209px #FFF , 1311px 655px #FFF , 1773px 1178px #FFF , 498px 1044px #FFF , 1237px 1106px #FFF , 211px 231px #FFF , 1762px 352px #FFF , 557px 456px #FFF , 1999px 1299px #FFF , 96px 1908px #FFF , 1652px 649px #FFF , 1449px 529px #FFF , 1985px 1728px #FFF , 452px 31px #FFF , 1576px 1443px #FFF , 824px 15px #FFF , 100px 1869px #FFF , 529px 1339px #FFF , 1605px 1947px #FFF , 89px 660px #FFF , 50px 1389px #FFF , 329px 1724px #FFF , 321px 1700px #FFF , 200px 84px #FFF , 1789px 132px #FFF;
}

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #FFF;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}
#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}





/*  ====================  Animated Stars background ==================== */





* {


-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

body {
margin:0;
padding:0;
font-family: 'Roboto Slab', serif;
}


#envelope {
    margin-top: 200px; 
    margin-left: 20%;
}


div#envelope{
width: 55%;
padding:10px 0;
border: 2px solid gray;
border-radius:10px;
background-color: white;
}

form{
width:70%;
margin:4% 15%;
}

header {
background-color: #4180C5;
text-align: center;
padding-top: 12px;
padding-bottom: 8px;
margin-top: -11px;
margin-bottom: -8px;
border-radius: 10px 10px 0 0;
color: aliceblue;
}


input[type=text]{
margin-bottom: 20px;
margin-top: 10px;
width:100%;
padding: 15px;
border-radius:5px;
border:1px solid #7ac9b7;
}

input[type=submit] {
margin-bottom: 20px;
width:100%;
padding: 15px;
border-radius:5px;
border:1px solid #7ac9b7;
background-color: #4180C5;
color: aliceblue;
font-size:15px;
cursor:pointer;
}

#submit:hover {
background-color: black;
}

textarea {
width:100%;
padding: 15px;
margin-top: 10px;
border:1px solid #7ac9b7;
border-radius:5px;
margin-bottom: 20px;
resize:none;
}

input[type=text]:focus,textarea:focus {
border-color: #4697e4;
}

.formcontent {
    margin-top: 50px;
}



/*  ====================   background video for gallery page ==================== */




.gallerypageartc {
    height: 500px;
    
}

/*  ====================   background video for gallery page ==================== */

 
    
}


/*  ====  jobskillsanimation  ====  */


@-moz-keyframes blink {0%{opacity:1;} 50%{opacity:0;} 100%{opacity:1;}} /* Firefox */
@-webkit-keyframes blink {0%{opacity:1;} 50%{opacity:0;} 100%{opacity:1;}} /* Webkit */
@-ms-keyframes blink {0%{opacity:1;} 50%{opacity:0;} 100%{opacity:1;}} /* IE */
@keyframes blink {0%{opacity:1;} 50%{opacity:0;} 100%{opacity:1;}} /* Opera and prob css3 final iteration */

.skills0 {
border:1px solid #000;
-moz-transition:all 1s ease-in-out;
-webkit-transition:all 1s ease-in-out;
-o-transition:all 1s ease-in-out;
-ms-transition:all 1s ease-in-out;
transition:all 1s ease-in-out;
/* order: name, direction, duration, iteration-count, timing-function */  
-moz-animation:blink normal 2s infinite ease-in-out; /* Firefox */
-webkit-animation:blink normal 2s infinite ease-in-out; /* Webkit */
-ms-animation:blink normal 2s infinite ease-in-out; /* IE */
animation:blink normal 2s infinite ease-in-out; /* Opera and prob css3 final iteration */
}

.imgjskills {
    margin-left: 20%;
}

/*  ====  brogressskillsbar  ====  */


.ptrn1 {
 margin-left: 92%;
 width: 50px;
 border-radius: 20%;
 background-color: #FFD444;
 color: #496BF5;
 
}

.ptrn2 {
 margin-left: 50%;
 width: 70px;
 border-radius: 20%;
 background-color: #FFD444;
 color: #496BF5;
 
}

  
.progresbarcont1 {
 margin-top: 5%;    
 margin-left: 30%;    
 width: 600px;
 height: 300px;

}

.progresbarcont1 h1 {
 margin-left: 30%;
color: #A657FF;

}


    
.meter { 
			height: 20px;  /* Can be anything */
			position: relative;
			margin: 5px 0 20px 0; /* Just for demo spacing */
			background: #C4EFFC;
			-moz-border-radius: 25px;
			-webkit-border-radius: 25px;
			border-radius: 25px;
			padding: 10px;
			-webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
			-moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
			box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
			
		}
		.meter > span {
			display: block;
			height: 100%;
			   -webkit-border-top-right-radius: 8px;
			-webkit-border-bottom-right-radius: 8px;
			       -moz-border-radius-topright: 8px;
			    -moz-border-radius-bottomright: 8px;
			           border-top-right-radius: 8px;
			        border-bottom-right-radius: 8px;
			    -webkit-border-top-left-radius: 20px;
			 -webkit-border-bottom-left-radius: 20px;
			        -moz-border-radius-topleft: 20px;
			     -moz-border-radius-bottomleft: 20px;
			            border-top-left-radius: 20px;
			         border-bottom-left-radius: 20px;
			background-color: rgb(43,194,83);
			background-image: -webkit-gradient(
			  linear,
			  left bottom,
			  left top,
			  color-stop(0, rgb(43,194,83)),
			  color-stop(1, rgb(84,240,84))
			 );
			background-image: -moz-linear-gradient(
			  center bottom,
			  rgb(43,194,83) 37%,
			  rgb(84,240,84) 69%
			 );
			-webkit-box-shadow: 
			  inset 0 2px 9px  rgba(255,255,255,0.3),
			  inset 0 -2px 6px rgba(0,0,0,0.4);
			-moz-box-shadow: 
			  inset 0 2px 9px  rgba(255,255,255,0.3),
			  inset 0 -2px 6px rgba(0,0,0,0.4);
			box-shadow: 
			  inset 0 2px 9px  rgba(255,255,255,0.3),
			  inset 0 -2px 6px rgba(0,0,0,0.4);
			position: relative;
			overflow: hidden;
		}
		.meter > span:after, .animate > span > span {
			content: "";
			position: absolute;
			top: 0; left: 0; bottom: 0; right: 0;
			background-image: 
			   -webkit-gradient(linear, 0 0, 100% 100%, 
			      color-stop(.25, rgba(255, 255, 255, .2)), 
			      color-stop(.25, transparent), color-stop(.5, transparent), 
			      color-stop(.5, rgba(255, 255, 255, .2)), 
			      color-stop(.75, rgba(255, 255, 255, .2)), 
			      color-stop(.75, transparent), to(transparent)
			   );
			background-image: 
				-moz-linear-gradient(
				  -45deg, 
			      rgba(255, 255, 255, .2) 25%, 
			      transparent 25%, 
			      transparent 50%, 
			      rgba(255, 255, 255, .2) 50%, 
			      rgba(255, 255, 255, .2) 75%, 
			      transparent 75%, 
			      transparent
			      
			   );
			z-index: 100;
			-webkit-background-size: 50px 50px;
			-moz-background-size: 50px 50px;
			-webkit-animation: move 2s linear infinite;
			   -webkit-border-top-right-radius: 8px;
			-webkit-border-bottom-right-radius: 8px;
			       -moz-border-radius-topright: 8px;
			    -moz-border-radius-bottomright: 8px;
			           border-top-right-radius: 8px;
			        border-bottom-right-radius: 8px;
			    -webkit-border-top-left-radius: 20px;
			 -webkit-border-bottom-left-radius: 20px;
			        -moz-border-radius-topleft: 20px;
			     -moz-border-radius-bottomleft: 20px;
			            border-top-left-radius: 20px;
			         border-bottom-left-radius: 20px;
			overflow: hidden;
			
		}
		
		.animate > span:after {
			display: none;
			
		}
		
		@-webkit-keyframes move {
		    0% {
		       background-position: 0 0;
		    }
		    100% {
		       background-position: 50px 50px;
		    }
		}
		
/*  ====  brogressskillsbar  ====  */




.h1cont {
    margin-left: 40%;
    color: #FF9E00;
}



.picturecontant {   
   width: 100%;
   height: 250px; 
}
 
.picturecontant2 {      
   width: 100%;
   height: 250px;   
}

.picturecontant3 {      
   width: 100%;
   height: 250px;
}

.picturecontant4 {      
   width: 100%;
   height: 250px;   
}

.paragraphcontant {
   
   margin-left: 10px;
   width: 300px;
   height: 150px;   
}

.paragraphcontant2 {
   margin-top: -8%;
   margin-left: 20%;
   width: 900px;
   height: 200px;  
   color: #000000;
}